################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SMI.API/FileContentIndex
/.vs/ProjectEvaluation
/.vs/SMI.API/DesignTimeBuild
/.vs/SMI.API/v17/.suo
/.vs/SMI.API/v17/.wsuo
/.vs/SMI.API/v17/.futdcache.v2
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/SMI/v17
/.vs
/FacebookClient/obj/Debug/net8.0/FacebookClient.AssemblyInfo.cs
/FacebookClient/obj/Debug/net8.0/FacebookClient.AssemblyInfoInputs.cache
/FacebookClient/obj/Debug/net8.0/FacebookClient.assets.cache
/FacebookClient/obj/Debug/net8.0/FacebookClient.GeneratedMSBuildEditorConfig.editorconfig
/SMI.API/obj/Debug/net8.0/SMI.API.AssemblyInfo.cs
/SMI.API/obj/Debug/net8.0/SMI.API.AssemblyInfoInputs.cache
/SMI.API/obj/Debug/net8.0/SMI.API.assets.cache
/SMI.API/obj/Debug/net8.0/SMI.API.csproj.AssemblyReference.cache
/SMI.API/obj/Debug/net8.0/SMI.API.GeneratedMSBuildEditorConfig.editorconfig
/SMI.API/obj/Debug/net8.0/staticwebassets.removed.txt
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.AssemblyInfo.cs
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.AssemblyInfoInputs.cache
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.assets.cache
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.assets.cache
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.AssemblyInfo.cs
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.AssemblyInfoInputs.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.assets.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.GeneratedMSBuildEditorConfig.editorconfig
*.v2
/SMI.TestClient/.vs/SMI.TestClient/FileContentIndex/b21db1a4-2105-41fe-93a4-0391ced36150.vsidx
/SMI.TestClient/.vs/SMI.TestClient/FileContentIndex/ea31f60a-c634-4a03-807e-9f8b4bfb2eae.vsidx
