################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SMI.API/FileContentIndex
/.vs/ProjectEvaluation
/.vs/SMI.API/DesignTimeBuild
/.vs/SMI.API/v17/.suo
/.vs/SMI.API/v17/.wsuo
/.vs/SMI.API/v17/.futdcache.v2
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/SMI/v17
/.vs
/FacebookClient/obj/Debug/net8.0/FacebookClient.AssemblyInfo.cs
/FacebookClient/obj/Debug/net8.0/FacebookClient.AssemblyInfoInputs.cache
/FacebookClient/obj/Debug/net8.0/FacebookClient.assets.cache
/FacebookClient/obj/Debug/net8.0/FacebookClient.GeneratedMSBuildEditorConfig.editorconfig
/SMI.API/obj/Debug/net8.0/SMI.API.AssemblyInfo.cs
/SMI.API/obj/Debug/net8.0/SMI.API.AssemblyInfoInputs.cache
/SMI.API/obj/Debug/net8.0/SMI.API.assets.cache
/SMI.API/obj/Debug/net8.0/SMI.API.csproj.AssemblyReference.cache
/SMI.API/obj/Debug/net8.0/SMI.API.GeneratedMSBuildEditorConfig.editorconfig
/SMI.API/obj/Debug/net8.0/staticwebassets.removed.txt
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.AssemblyInfo.cs
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.AssemblyInfoInputs.cache
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.assets.cache
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.assets.cache
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.AssemblyInfo.cs
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.AssemblyInfoInputs.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.assets.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.GeneratedMSBuildEditorConfig.editorconfig
*.v2
/SMI.TestClient/.vs/SMI.TestClient/FileContentIndex/b21db1a4-2105-41fe-93a4-0391ced36150.vsidx
/SMI.TestClient/.vs/SMI.TestClient/FileContentIndex/ea31f60a-c634-4a03-807e-9f8b4bfb2eae.vsidx
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.AssemblyInfo.cs
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.AssemblyInfoInputs.cache
/SMI.TestClient/.vs/SMI.TestClient/FileContentIndex/51150a95-2468-4f9d-858e-bcef9fa96da1.vsidx
/SMI.TestClient/obj/Debug/net8.0/staticwebassets.removed.txt
/SocialMediaAPI/obj/Debug/net8.0/staticwebassets.removed.txt
/.vs/SMI.API/v17/DocumentLayout.json
/FacebookClient/bin/Debug/net8.0/FacebookClient.dll
/FacebookClient/bin/Debug/net8.0/FacebookClient.pdb
/FacebookClient/obj/Debug/net8.0/FacebookClient.csproj.CoreCompileInputs.cache
/FacebookClient/obj/Debug/net8.0/FacebookClient.csproj.FileListAbsolute.txt
/FacebookClient/obj/Debug/net8.0/FacebookClient.dll
/FacebookClient/obj/Debug/net8.0/FacebookClient.pdb
/FacebookClient/obj/Debug/net8.0/FacebookClient.sourcelink.json
/FacebookClient/obj/Debug/net8.0/ref/FacebookClient.dll
/FacebookClient/obj/Debug/net8.0/refint/FacebookClient.dll
/FacebookClient/obj/FacebookClient.csproj.nuget.dgspec.json
/FacebookClient/obj/FacebookClient.csproj.nuget.g.props
/FacebookClient/obj/project.assets.json
/FacebookClient/obj/project.nuget.cache
/SMI.API/bin/Debug/net8.0/SMI.API.dll
/SMI.API/bin/Debug/net8.0/SMI.API.exe
/SMI.API/bin/Debug/net8.0/SMI.API.pdb
/SMI.API/bin/Debug/net8.0/SMI.API.staticwebassets.endpoints.json
/SMI.API/obj/Debug/net8.0/apphost.exe
/SMI.API/obj/Debug/net8.0/ref/SMI.API.dll
/SMI.API/obj/Debug/net8.0/refint/SMI.API.dll
/SMI.API/obj/Debug/net8.0/SMI.API.csproj.CoreCompileInputs.cache
/SMI.API/obj/Debug/net8.0/SMI.API.csproj.FileListAbsolute.txt
/SMI.API/obj/Debug/net8.0/staticwebassets/msbuild.build.SMI.API.props
/SMI.API/obj/Debug/net8.0/SMI.API.csproj.Up2Date
/SMI.API/obj/Debug/net8.0/SMI.API.dll
/SMI.API/obj/Debug/net8.0/SMI.API.genruntimeconfig.cache
/SMI.API/obj/Debug/net8.0/SMI.API.pdb
/SMI.API/obj/Debug/net8.0/SMI.API.sourcelink.json
/SMI.API/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/SMI.API/obj/Debug/net8.0/staticwebassets.build.json
/SMI.API/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/SMI.API/obj/project.assets.json
/SMI.API/obj/project.nuget.cache
/SMI.API/obj/SMI.API.csproj.nuget.dgspec.json
/SMI.API/obj/SMI.API.csproj.nuget.g.props
/SMI.BusinessLogic/bin/Debug/net8.0/SMI.BusinessLogic.dll
/SMI.BusinessLogic/bin/Debug/net8.0/SMI.BusinessLogic.pdb
/SMI.BusinessLogic/obj/Debug/net8.0/ref/SMI.BusinessLogic.dll
/SMI.BusinessLogic/obj/Debug/net8.0/refint/SMI.BusinessLogic.dll
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.csproj.CoreCompileInputs.cache
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.csproj.FileListAbsolute.txt
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.dll
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.pdb
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.sourcelink.json
/SMI.BusinessLogic/obj/project.assets.json
/SMI.DataAccess/bin/Debug/net8.0/SMI.DataAccess.dll
/SMI.DataAccess/bin/Debug/net8.0/SMI.DataAccess.pdb
/SMI.DataAccess/obj/Debug/net8.0/ref/SMI.DataAccess.dll
/SMI.DataAccess/obj/Debug/net8.0/refint/SMI.DataAccess.dll
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.csproj.CoreCompileInputs.cache
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.csproj.FileListAbsolute.txt
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.dll
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.pdb
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.sourcelink.json
/SMI.DataAccess/obj/project.assets.json
/SMI.DataAccess/obj/project.nuget.cache
/SMI.DataAccess/obj/SMI.DataAccess.csproj.nuget.dgspec.json
/SMI.DataAccess/obj/SMI.DataAccess.csproj.nuget.g.props
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.dll
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.pdb
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.sourcelink.json
/SMI.Entities/obj/project.assets.json
/SMI.Entities/obj/project.nuget.cache
/SMI.Entities/obj/SMI.Entities.csproj.nuget.dgspec.json
/SMI.Entities/obj/SMI.Entities.csproj.nuget.g.props
/SMI.Entities/obj/Debug/net8.0/ref/SMI.Entities.dll
/SMI.Entities/obj/Debug/net8.0/refint/SMI.Entities.dll
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.csproj.CoreCompileInputs.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.csproj.FileListAbsolute.txt
/SMI.BusinessLogic/obj/project.nuget.cache
/SMI.BusinessLogic/obj/SMI.BusinessLogic.csproj.nuget.dgspec.json
/SMI.BusinessLogic/obj/SMI.BusinessLogic.csproj.nuget.g.props
/SMI.Entities/bin/Debug/net8.0/SMI.Entities.dll
/SMI.Entities/bin/Debug/net8.0/SMI.Entities.pdb
/SMI.Util/obj/Debug/net8.0/SMI.Util.AssemblyInfo.cs
/SMI.Util/obj/Debug/net8.0/SMI.Util.AssemblyInfoInputs.cache
/SMI.Util/obj/Debug/net8.0/SMI.Util.assets.cache
/SMI.Util/obj/Debug/net8.0/SMI.Util.GeneratedMSBuildEditorConfig.editorconfig
/SMI.Util/obj/project.assets.json
/SMI.Util/obj/project.nuget.cache
/SMI.Util/obj/SMI.Util.csproj.nuget.dgspec.json
/SMI.Util/obj/SMI.Util.csproj.nuget.g.props
/SMI.AuthService/obj/Debug/net8.0/SMI.AuthService.AssemblyInfo.cs
/SMI.AuthService/obj/Debug/net8.0/SMI.AuthService.AssemblyInfoInputs.cache
/SMI.AuthService/obj/Debug/net8.0/SMI.AuthService.assets.cache
/SMI.AuthService/obj/Debug/net8.0/SMI.AuthService.csproj.AssemblyReference.cache
/SMI.AuthService/obj/Debug/net8.0/SMI.AuthService.GeneratedMSBuildEditorConfig.editorconfig
/SMI.AuthService/obj/project.assets.json
/SMI.AuthService/obj/project.nuget.cache
/SMI.AuthService/obj/SMI.AuthService.csproj.nuget.dgspec.json
/SMI.AuthService/obj/SMI.AuthService.csproj.nuget.g.props
/SMI.DataAccess/obj/Debug/net8.0/SMI.DataAccess.csproj.AssemblyReference.cache
/SMI.Entities/obj/Debug/net8.0/SMI.Entities.csproj.AssemblyReference.cache
/SMI.API/bin/Debug/net8.0/SMI.AuthService.pdb
/SMI.API/bin/Debug/net8.0/SMI.DataAccess.dll
/SMI.API/bin/Debug/net8.0/SMI.DataAccess.pdb
/SMI.API/bin/Debug/net8.0/SMI.Entities.dll
/SMI.API/bin/Debug/net8.0/SMI.Entities.pdb
/SMI.API/bin/Debug/net8.0/SMI.Util.dll
/SMI.API/bin/Debug/net8.0/SMI.Util.pdb
/SMI.API/bin/Debug/net8.0/SMI.AuthService.dll
/SMI.AuthService/bin/Debug/net8.0/SMI.Util.dll
/SMI.BusinessLogic/obj/Debug/net8.0/SMI.BusinessLogic.csproj.AssemblyReference.cache
/SMI.Common/obj/Debug/net8.0/SMI.Common.AssemblyInfo.cs
/SMI.Common/obj/Debug/net8.0/SMI.Common.AssemblyInfoInputs.cache
/SMI.Common/obj/Debug/net8.0/SMI.Common.assets.cache
/SMI.Common/obj/Debug/net8.0/SMI.Common.csproj.AssemblyReference.cache
/SMI.Common/obj/Debug/net8.0/SMI.Common.GeneratedMSBuildEditorConfig.editorconfig
/SMI.Common/obj/project.assets.json
/SMI.Common/obj/project.nuget.cache
/SMI.Common/obj/SMI.Common.csproj.nuget.dgspec.json
/SMI.Common/obj/SMI.Common.csproj.nuget.g.props
*.pdb
*.dll
*.txt
*.json
*.targets
